*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family:Arial, Helvetica, sans-serif;
}

body{
    background:black;
    min-height:100vh;
}

nav{
    display:flex;
    justify-content:flex-start;
    align-items:center;
    padding:20px;
}

nav img{
    width:clamp(90px,10vw,130px);
    padding:15px;
    border-radius:50%;
    border:6px solid rgb(5,45,110);
    box-shadow:0 5px 20px #148ccd;
}

/* MAIN */

main{
    display:flex;
    justify-content:center;
    align-items:center;
    padding:20px;
}

.login{

    background-color:rgb(0,0,0);

    width:100%;
    max-width:350px;

    padding:40px;

    border-radius:15px;

    text-align:center;

    box-shadow:0 5px 20px rgb(8,145,46);

}

.login h1{

    color:#ffffff;

    margin-bottom:10px;

}

.login p{

    color:#ffffff;

    margin-bottom:25px;

    line-height:1.5;

}

input{

    width:100%;

    padding:12px;

    margin-bottom:15px;

    border:1px solid #148ccd;

    border-radius:8px;

}

button{

    width:100%;

    padding:12px;

    background:#00c42a;

    color:white;

    border:none;

    border-radius:8px;

    cursor:pointer;

    font-size:16px;

}

button:hover{

    background:#004e04;

}

a{

    display:block;

    margin-top:15px;

    color:#00b7ff;

    text-decoration:none;

    font-weight:bold;

}

a:hover{

    color:#00ff0d;

}

.informacion{

    width:90%;

    max-width:700px;

    margin:40px auto;

    color:white;

    text-align:center;

    line-height:1.6;

}

footer{

    margin-top:40px;

    box-shadow:0 0 20px white;

}

.footer-contenido{

    background:black;

    color:white;

    text-align:center;

    padding:40px 20px;

}

.footer-contenido h2{

    margin-bottom:15px;

}

.footer-contenido p{

    margin:8px 0;

}

@media (max-width:768px){

    nav{

        justify-content:center;

        padding:20px 10px;

    }

    nav img{

        width:90px;

        padding:10px;

        border-width:4px;

    }

    main{

        padding:15px;

    }

    .login{

        width:100%;

        max-width:380px;

        padding:30px;

    }

    .informacion{

        width:90%;

        padding:0 10px;

    }

    .footer-contenido{

        padding:30px 15px;

    }

}




