body {
    background: black;
    font-family: Arial, Helvetica, sans-serif;
}

nav{
    width: 90%;
    max-width: 600px;
    margin: 20px auto;
    padding: 30px;
    border-radius: 20px;
    background: rgb(0, 0, 0);
    border: 8px solid rgb(8, 145, 46);
    box-shadow: 0px 6px 15px #08912E;
    color: white;
    text-align: center;
}
.info{
    background-color: #000000;
    border: 8px solid #148CCD;
    border-radius: 15px;
    padding: 25px;
    width: 90%;
    max-width: 1200px;
    margin: 30px auto;
    box-shadow: 0 0 20px rgb(20, 140, 205);
    color: white;
    margin: 50px auto;
}

/* BENEFICIOS */
.beneficios{
    padding: 60px;
    background: #000000;
    text-align: center;
    border: 10px #08912E;
    border-radius: 50px;
    align-content: center;
    margin-bottom: 20px;
    box-shadow: 0 0 20px #08912E; 
    color: #f5f7fb;
}

.beneficios h2{
    font-size: 35px;

    margin-bottom: 15px;
}

.descripcion{
    max-width: 700px;
    margin: auto;
    
    margin-bottom: 40px;
}

.contenedor-beneficios{
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(250px,1fr));
    gap: 20px;
}

.card{
    background: rgb(0, 0, 0);
    padding: 25px;
    border-radius: 15px;
    box-shadow: 0 0 20px rgb(20, 140, 205);
    transition: 0.3s;
}

.card:hover{
    transform: translateY(-5px);
}

.card h3{
    margin-bottom: 15px;
    color: #189200;
}

.card p{
    color: #ffffff;
    line-height: 1.5;
}

/* DOCENTES */

.docentes{
    padding: 60px;
    background: #000000;
    text-align: center;
    margin-bottom: 20px;
    box-shadow: 0 0 20px rgb(20, 140, 205);
    border-radius: 50px;
}

.docentes h2{
    font-size: 35px;
    color: #ffffff;
    margin-bottom: 15px;
}

.descripcion-docente{
    max-width: 700px;
    margin: auto;
    color: #ffffff;
    margin-bottom: 40px;
}

.contenedor-docentes{
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(250px,1fr));
    gap: 20px;
}

.card-docente{
    background: #000000;
    padding: 25px;
    border-radius: 15px;
    box-shadow: 0 0 20px rgb(34, 184, 92);
    transition: 0.3s;
}

.card-docente:hover{
    transform: translateY(-5px);
}

.card-docente h3{
    margin-bottom: 15px;
    color: #052D6E;
}

.card-docente p{
    color: #ffffff;
    line-height: 1.5;
}

/* FOOTER */

.color {
    color: rgb(255, 255, 255);
    padding-top: 40px;
    margin-top: 50px;
    background-color: rgb(0, 0, 0);
    border:  6px white ;
    box-shadow: 0 0 20px white;

}

/* RESPONSIVE */

@media (max-width:768px){

    nav{
        width:90%;
        padding:20px;
    }

    nav h1{
        font-size:30px;
    }

    .info{
        width:90%;
        padding:20px;
    }

    .info h2{
        font-size:24px;
    }

    .beneficios,
    .docentes{
        padding:25px 15px;
        border-radius:25px;
    }

    .beneficios h2,
    .docentes h2{
        font-size:28px;
    }

    .descripcion,
    .descripcion-docente{
        width:100%;
    }

    .contenedor-beneficios,
    .contenedor-docentes{
        grid-template-columns:1fr;
    }

    .card,
    .card-docente{
        padding:20px;
    }

    .color{
        text-align:center;
        padding:30px 15px;
    }

}

