*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

body{
    background: linear-gradient(135deg, #058f00, #00afdb);
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.login {
    background-color: white;
    width: 350px;
    padding: 40px;
    border-radius: 15px;
    text-align: center;
    box-shadow: 0 5px 20px rgb(26, 26, 26);
}

.login h1{
    color: #000000;
    margin-bottom: 10px;
}

.login p{
    margin-bottom: 25px;
    color: #000000;
}

input{
    width: 100%;
    padding: 12px;
    margin-bottom: 15px;
    border: 1px solid #000000;
    border-radius: 8px;
}

button{
    width: 100%;
    padding: 12px;
    background-color: #00c42a;
    color: white;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    font-size: 16px;
}

button:hover{
    background-color: #004e04;
}

a{
    display: block;
    margin-top: 15px;
    color: #00b7ff;
}

img {
    padding: 15px;
    position: absolute;
    left: 30px;
    top: 20px;
    border-radius: 50%;
}

a:hover {
    color: #00ff0d; 
}






